/* ссылка на документацию https://react-select.com/home */

    /* главный контейнер */
.select_double_arr{
    position: relative !important;
}
    /* треугольник */
.select_double_arr:before{
    content: "" !important;
    position: absolute !important;
    bottom: 13px !important;
    right: 15px !important;
    margin-left: -5px !important;
    border: 4px solid transparent !important;
    border-bottom: none !important;
    border-top-color: #088A08 !important;
    z-index: 10 !important;
}
    /* второй треугольник */
.select_double_arr:after{
    content: "" !important;
    position: absolute !important;
    top: 13px !important;
    right: 15px !important;
    margin-left: -5px !important;
    border: 4px solid transparent !important;
    border-bottom: none !important;
    border-top-color: #088A08 !important;
    z-index: 10 !important;
    transform: rotate(180deg);
}

.select_double_arr__control{
    padding: 10px 0 !important;
    border: 1px solid #088A08 !important;
    box-shadow: 0 0 0 1px transparent !important;
    border-radius: 0 !important;
}
    /* полоска рядом со стрелочкой */
.select_double_arr__indicator-separator{
    background-color:  transparent !important;
}
    /* стрелочка */
.select_double_arr__indicator{
    display: none !important;
}

    /* первоначальный текст */
.select_double_arr__placeholder{
    font-size: 12px !important;
    color: #000 !important;
}
.select_double_arr__value-container{
    padding: 0 20px !important;
}
    /* обертка выпадающего меню */
.select_double_arr__menu{
    border-radius: 0px !important;
    border: 1px solid #088A08 !important;
    border-top: 1px solid transparent !important;
    box-shadow: 0 0 0 1px transparent !important;
    margin: 0 !important;
}
    /* выпадающее меню */
.select_double_arr__menu-list{
    padding: 0 !important;
}
.select_double_arr__menu-portal{
    /* background: #ff0000 !important; */
    /* color: #ff0000 !important; */
}
    /* пункт которой записывается в главное окно */
.select_double_arr__single-value{
    font-size: 12px !important;
    color: #000 !important;
}
    /* содержимое главного окна */
.select_double_arr__value-container{
    
}
    /* пункты в выпадающем окне */
.select_double_arr__option{
    font-size: 12px !important;
    color: #000 !important;
    padding: 12px 20px !important;
    
}
    /* пункты в выпадающем окне при наведении */
.select_double_arr__option:hover{
    background: rgb(241, 241, 241)!important;
}
.select_double_arr__option--is-focused{
    background-color: rgb(241, 241, 241)!important;
    
}
    /* выбранный пункт в выпадающем меню */
.select_double_arr__option--is-selected{
    background-color: #088A08 !important;
    color: #fff !important;
}
.select_double_arr__option--is-selected:hover{
    background-color: #088A08 !important;   
}
